#include "constants.h"
IDI_APPICON ICON "SigForge.ico"
APPICO ICON "SigForge.ico"
A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "SigForge.ico"

PMAIN MENU
{
    POPUP "&File"
    {
        MENUITEM "&Acquire", CM_FILE_ACQUIRE
        MENUITEM "&New script window", CM_FILE_NEW
        MENUITEM "&Open data file...", CM_FILE_OPEN
        MENUITEM "&Save", CM_FILE_SAVE, GRAYED
        MENUITEM "Save &As...", CM_FILE_SAVEAS, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "E&xit", CM_FILE_EXIT
    }

    POPUP "&Edit", GRAYED
    {
        MENUITEM "&Undo\tCtrl+Z", CM_EDIT_UNDO
        MENUITEM SEPARATOR
        MENUITEM "Cu&t\tCtrl+X", CM_EDIT_CUT
        MENUITEM "&Copy\tCtrl+C", CM_EDIT_COPY
        MENUITEM "&Paste\tCtrl+V", CM_EDIT_PASTE
    }

    POPUP "&Window" GRAYED
    {
        MENUITEM "&Cascade", CM_WINDOW_CASCADE
        MENUITEM "Close &All", CM_WINDOW_CLOSEALL
        MENUITEM "Tile &Horizontal", CM_WINDOW_TILEHORZ
        MENUITEM "Tile &Vertical", CM_WINDOW_TILEVERT
        MENUITEM "Arrange &Icons", CM_WINDOW_ARRANGE
    }

    POPUP "&Options", GRAYED
    {
        MENUITEM "Setup &visible channels\tCtrl+S", CM_OPTIONS_SETUPVCHANS
    }

    POPUP "&Tools", GRAYED
    {
        MENUITEM "&Filters\tCtrl+F", CM_TOOLS_FILTERS
    }

    POPUP "&Help"
    {
        MENUITEM "&About", CM_HELP_ABOUT
    }
}

