{
    "script_windows":
    [
        {
            "file" : "../Scripts/041_generatemodulatedsine_filters.txt"
        },
        {
            "file" : "../Scripts/044_HRV_Analysis.txt"
        },
        {
            "file" : "../Scripts/046_ECG_R_Detector.txt"
        },
        {
            "file" : "../Scripts/045_ECG_Generator.txt"
        }
    ]
}
